MONGODB_URI=mongodb+srv://halynaBerdyk:D%40kcG37Aeg%25d@cluster0.7oqs8.mongodb.net/sample_userCoHub?retryWrites=true&w=majority&appName=Cluster0
NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api